page-home  {

    /*
    ion-content{ 
        background: -webkit-linear-gradient(#000 0%, #fff 100%);
        background: -moz-linear-gradient(#000 0%, #fff 100%);
        background: -o-linear-gradient(#000 0%, #fff 100%);
        background: linear-gradient(#000 0%, #fff 100%);
    }

    .toolbar-background {
        background-color: blue;
    }
    */
}

